site_name: AK-Sphere
site_url: https://akshaykumar-gunari.github.io/ak-sphere/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - header.autohide
    - navigation.footer
    - announce.dismiss
    - search.suggest
    - seatch.highlight
    - search.share

  language: en
  font:
    code: Roboto Mono
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/akshaykumar-gunari
    - icon: fontawesome/brands/twitter
      link: https://x.com/AkshaykumarGun2
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/akshaykumar-gunari-59b132167/
  
plugins:
  - search
  - git-authors

nav:
  - Home: index.md
  - Data Science:
    - Home: blog/posts/data-science/index.md
    - Introductory Section:
      - Post 1: blog/posts/data-science/post1.md
    - Supervised Learning:
      - Post 1: blog/posts/data-science/post1.md
      - Post 2: blog/posts/data-science/post2.md
    - Unsupervised Learning:
      - Post 1: blog/posts/data-science/post1.md
    - Paper Party:
      - Post 1: blog/posts/data-science/post1.md
  - Mathematics:
    - Home: blog/posts/mathematics/index.md
    - Basics:
      - Post 1: blog/posts/mathematics/post1.md
    - Linear Algebra:
      - Post 1: blog/posts/mathematics/post1.md
    - Calculus:
      - Post 1: blog/posts/mathematics/post1.md
  - Linux Kernel:
    - Supervised Learning:
      - Post 1: blog/posts/linux-kernel/post1.md
  - Operating Systems:
    - Supervised Learning:
      - Post 1: blog/posts/operating-systems/post1.md
  - Others:
    - Supervised Learning:
      - Post 1: blog/posts/others/post1.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/akshaykumar-gunari"  target="_blank" rel="noopener">Akshaykumar Gunari | AK </a>
